<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/icon2.png" type="image/png">
    <title>Геометрия</title>
    <style>
        body
        {
        background-image: url('/img/green4.png');
        background-size: cover;
        color: #fcfcfc;
        text-align: center;
        }

        a
        {
        color: #fcfcfc;
        }

        button
        {
        background-color: #02fa30;
        }
    </style>
</head>
<body>
    <h1>Войти</h1>
    {% if message %}
        <div class = 'error'>
            {{ message }}
        </div>
    {% endif %}
    <form method = 'POST' action = '/login'>
        <input name = 'username' placeholder = 'Логин'><br><br>
        <input name = 'password' placeholder = 'Пароль'><br><br>
        <button type = 'submit'>Войти</button>
    </form>
    <a href = '/register'>Зарегистрироваться</a>
</body>
</html>